# 忽略 AVDeepfake 解决方案文件
AVDeepfake.sln

# 忽略 AVDeepfake 目录下的特定项目文件
AVDeepfake/AVDeepfake.vcxproj
AVDeepfake/AVDeepfake.vcxproj.filters
AVDeepfake/AVDeepfake.vcxproj.user

# 忽略 x64 文件夹及其所有内容
x64/
.vs
AVDeepfake/x64/
